<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable this section</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>EnableMediaPlayerSection</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hiding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideMediaPlayer</string>
			<key>label</key>
			<string>Hide Media Player</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideLockscreenPlayerBackground</string>
			<key>label</key>
			<string>Hide Media Player background</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>mediaPlayerAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
