<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable this section</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>EnableNotificationsSection</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hiding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideNoOlderNotifications</string>
			<key>label</key>
			<string>Hide no older notifications text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideNotificationCenterText</string>
			<key>label</key>
			<string>Hide notification center text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideNotificationsClearButton</string>
			<key>label</key>
			<string>Hide notifications clear button</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>No older notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>noOlderNotificationsAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Notification cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>notificationsAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Notification header</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>notificationsHeaderViewAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Y offset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>notificationOffset</string>
			<key>min</key>
			<real>-200.0</real>
			<key>max</key>
			<real>300.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom no older notifications text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>placeholder</key>
			<string>No older notifications</string>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>label</key>
			<string>Text:</string>
			<key>key</key>
			<string>noOlderNotificationsText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Alignment</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>noOlderNotificationsTextAlignment</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom notification center text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>placeholder</key>
			<string>Your notifications:</string>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>label</key>
			<string>Custom text:</string>
			<key>key</key>
			<string>notificationCenterText</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>notificationsScrollReveal</string>
			<key>label</key>
			<string>Enhanced scroll reveal animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideDNDBanner</string>
			<key>label</key>
			<string>Hide dnd banner</string>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
