<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable this section</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>EnableTimeDateSection</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hiding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideTimeAndDate</string>
			<key>label</key>
			<string>Hide Time and Date</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideOnlyDate</string>
			<key>label</key>
			<string>Hide only Date</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideLunarCalendar</string>
			<key>label</key>
			<string>Hide Lunar</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>timeAndDateAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Time and Date position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>customTimeAndDatePositioning</string>
			<key>label</key>
			<string>Custom position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>X axis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>customTimeAndDateXAxis</string>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>1000.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Y axis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>customTimeAndDateYAxis</string>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>1000.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alignment</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>timeAndDateAlignment</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Time Font</string>
			<key>footerText</key>
			<string>Some combinations may not work</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>customTimeFont</string>
			<key>label</key>
			<string>Enable Time font options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>useCustomChosenTimeFont</string>
			<key>label</key>
			<string>Use custom chosen font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose custom time font</string>
			<key>action</key>
			<string>showTimeFontPicker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>80</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>fontSizeTime</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Weight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>-0.4</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>fontWeightTime</string>
			<key>validValues</key>
			<array>
				<real>-0.6</real>
				<real>-0.4</real>
				<real>0.0</real>
				<real>0.23</real>
				<real>0.4</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>Thin</string>
				<string>Light</string>
				<string>Regular</string>
				<string>Medium</string>
				<string>Bold</string>
			</array>
			<key>alignment</key>
			<string>5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>useRoundedFontTime</string>
			<key>label</key>
			<string>Use rounded font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>useItalicFontTime</string>
			<key>label</key>
			<string>Use italic font</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Date Font</string>
			<key>footerText</key>
			<string>Some combinations may not work</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>customDateFont</string>
			<key>label</key>
			<string>Enable Date font options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>useCustomChosenDateFont</string>
			<key>label</key>
			<string>Use custom chosen font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose custom date font</string>
			<key>action</key>
			<string>showDateFontPicker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>23</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>fontSizeDate</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Weight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>fontWeightDate</string>
			<key>validValues</key>
			<array>
				<real>-0.6</real>
				<real>-0.4</real>
				<real>0.0</real>
				<real>0.23</real>
				<real>0.4</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>Thin</string>
				<string>Light</string>
				<string>Regular</string>
				<string>Medium</string>
				<string>Bold</string>
			</array>
			<key>alignment</key>
			<string>5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>useRoundedFontDate</string>
			<key>label</key>
			<string>Use rounded font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>useItalicFontDate</string>
			<key>label</key>
			<string>Use italic font</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>customFontLunar</string>
			<key>label</key>
			<string>Include Lunar</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>colorTimeAndDate</string>
			<key>label</key>
			<string>Enable custom color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>love.litten.dress.colorspreferences</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Time color:</string>
			<key>key</key>
			<string>timeColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>love.litten.dress.colorspreferences</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Date color:</string>
			<key>key</key>
			<string>dateColor</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
			<key>footerText</key>
			<string>Does not apply to iPad</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>useCompactDateFormat</string>
			<key>label</key>
			<string>Use compact date format</string>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
