<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Auto Lock Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>label</key>
			<string>Auto Lock Duration:</string>
			<key>key</key>
			<string>customLockDuration</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>10 Seconds</string>
				<string>15 Seconds</string>
				<string>20 Seconds</string>
				<string>25 Seconds</string>
				<string>30 Seconds</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Charging View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>disableBatteryView</string>
			<key>label</key>
			<string>Hide Charging View</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FaceID Animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideFaceIDAnimation</string>
			<key>label</key>
			<string>Hide FaceID Animation</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
