<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>🌸 Litten</string>
			<key>firstAccount</key>
			<string>schneelittchen</string>
			<key>secondLabel</key>
			<string>taki</string>
			<key>secondAccount</key>
			<string>74k1_</string>
			<key>height</key>
			<real>57</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>What do you want to dress up?</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Time and Date</string>
 			<key>detail</key>
 			<string>DRSTimeAndDateSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>timeAndDateSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>FaceID Lock</string>
 			<key>detail</key>
 			<string>DRSFaceIDLockSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>faceIDLockSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Status Bar</string>
 			<key>detail</key>
 			<string>DRSStatusBarSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>statusBarSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Homebar</string>
 			<key>detail</key>
 			<string>DRSHomebarSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>homebarSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Page Dots</string>
 			<key>detail</key>
 			<string>DRSPageDotsSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>pageDotsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Media Player</string>
 			<key>detail</key>
 			<string>DRSMediaPlayerSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>mediaPlayerSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Notifications</string>
 			<key>detail</key>
 			<string>DRSNotificationsSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>notificationsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Unlock Text, CC Grabber</string>
 			<key>detail</key>
 			<string>DRSUnlockTextSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>unlockTextSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Quick Actions</string>
 			<key>detail</key>
 			<string>DRSQuickActionsSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>quickActionsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Evanesco</string>
 			<key>detail</key>
 			<string>DRSEvanescoModeSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>evanescoModeSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Others</string>
 			<key>detail</key>
 			<string>DRSOthersSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>othersSub</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contributions</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Contributors</string>
 			<key>detail</key>
 			<string>DRSContributorsSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>contributorsSub</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You might like:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Lobelias</string>
			<key>subtitle</key>
			<string>Design your own lockscreen player</string>
			<key>icon</key>
			<string>Lobelias.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/lia/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Violet</string>
			<key>subtitle</key>
			<string>Make your wallpaper your song's artwork</string>
			<key>icon</key>
			<string>Violet.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/vio/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Dress by Litten, icon and banner by taki</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Discord</string>
			<key>subtitle</key>
			<string>Chat with us 👾</string>
			<key>url</key>
			<string>https://discord.gg/tKUPZrS7ve</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source code</string>
			<key>subtitle</key>
			<string>GitHub 👗</string>
			<key>url</key>
			<string>https://github.com/schneelittchen/Dress</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate to Litten</string>
			<key>subtitle</key>
			<string>Appreciated 💝</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>

		<dict>
			<key>cell</key>
			<key>PSGroupCell</key>
			<key>footerText</key>
			<string>princess of daydreaming</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
